<div class="help">
    <h2>帮助文档</h2>
    <div class="help-content">
        本网站不具备个人资料采集功能，并且只在双方之情情况下提供数据存档作用。要在本网站中存入您的表白，只需要在左边的导航栏中选择<b>新建表白</b>并填写要求的项目提交即可。
        <br><br>
        请您注意，在您提交完成之后，数据将不会审核或告知被表白方，您在本网站所做的任何行为都将被视为维护<b>Shape Of Love</b>。本网站的<b title="Hugesea Team">维护团队</b>将会不定期对网站进行违规内容检测，如果检测到您提交了违规的内容，那么这项存档会在您不知情的情况下删除。
        <br><br>
        本网站所收集的信息与作用公开如下。
        <br><br>
        <table class="help-table">
            <thead>
                <th>收集的数据</th>
                <th>作用</th>
            </thead>
            <tbody>
                <tr>
                    <td>昵称</td>
                    <td>在存档页面展示，用于信息区别。</td>
                </tr>

                <tr>
                    <td>提交的内容</td>
                    <td>您在此处存入的内容，展示于存档页面。</td>
                </tr>

                <tr>
                    <td>提交的时间</td>
                    <td>在存档页面中展示,作用与昵称一样。</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        如果您觉得网站目前提交的功能由缺陷或者是对您的某些方面造成了损失，请您在联系我们栏目中给我们发送E-mail。
        <br><br>
        任凭时光流走，爱永不停息。
    </div>
</div>

<style>
    .help {
        line-height: 1.5;
    }

    .help-content {
        font-size: .8rem;
        text-align: left;
    }

    .help-table {
	width: 100%;
        border-collapse: collapse;
    }

    .help-table th {
        color: #fff;
        background-color: #f50c3e;
        padding-left: 5px;
        padding-right: 5px;
    }

    .help-table td {
        border-left: 1px dashed #777;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
