<div class="create">
    <h2>添加您的表白到我们的网站归档</h2>
    <div class="create-form">
        <form id="data-form" action="./functions/submitConfession.php" method="post">
            <section class="form-container container">
                <main class="main form-sender">
                    <h4>在此处输入您的昵称</h4>
                    <input placeholder="📝 昵称" class="input-sender" id="input-sender"/>
                </main>

                <main class="main form-recipient">
                    <h4>在此处输入对方的昵称</h4>
                    <input placeholder="💌 昵称" class="input-recipient" id="input-recipient"/>
                </main>
            </section>

            <main class="main form-content">
                <h4>在这里输入你想对对方说的话</h4>
                <textarea class="input-content" id="input-content"></textarea>
                <br>
                <span class="notice">在确认您要提交并保存到我们的网站存档之前，请确认所有信息均为正确，一旦提交后您将不能修改所有信息。如果您提交了错误的信息，请向我们发送有关邮件并指出要删除的存档。</span>
            </main>
            <br>
            <input class="form-submitButton" type="button" onclick="submitConfession(
                document.getElementsByClassName('input-sender')[0].value,
                document.getElementsByClassName('input-recipient')[0].value,
                document.getElementsByClassName('input-content')[0].value
            )" value="提 交">
        </form>
    </div>
</div>