<div class="help">
    <h2 class="help-title">帮助文档</h2>
    <div class="help-content">
        本表白网系统不具备任何数据采集功能，在使用本系统的过程中，您无需担心您的个人隐私被泄漏。本系统只提供单一数据存储功能。
        <br><br>
        如果您需要在本表白系统中提交任何表白，仅需要单击左侧菜单中的新建表白功能，输入相关信息即可。
        <br><br>
        在程序开发期间，网站可能随时关闭，如果在本系统上有关于您的重要数据，请注意及时备份，避免因为网站系统更新而造成不可逆的损失。
        <br><br>
        本网站目前处于开发过程中，系统并不完善，目前针对Google Chrome浏览器进行开发，如果您使用的是其它内核的浏览器，网站系统的运行可能往往会伴随着漏洞。
        <br><br>
        要获取本网站系统的源代码并且加入到本网站的维护行列之中，请在<a href="https://github.com/Scholar-Jr/sols.git">Scholar-Jr/Sols</a>项目中了解详细。
    </div>
</div>