.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: .8rem;
}

.container-parent {
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.menu {
    grid-area: 1 / 1 / 6 / 2;
    display: contents;
}

.view {
    grid-area: 1 / 2 / 6 / 6;
    display: contents;
}

.aside {
    width: var(--max);
    overflow: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    background-color: var(--extra-color);
    color: var(--text-color);
    text-align: center;
    line-height: 200px;
    padding: var(--default-padding);
    border-right: var(--border-color) dashed var(--border-size);
}

.main {
    display: block;
    flex: 1;
    flex-basis: auto;
    overflow: auto;
    box-sizing: border-box;
    padding: var(--default-padding);
    background-color: var(--extra-color);
    color: var(--text-color);
    text-align: center;
    line-height: 160px;
}

.footer {
    box-sizing: border-box;
    flex-shrink: 0;
    color: var(--text-color);
    font-size: var(--menu-font-size);
    line-height: var(--footer-line-height);
}

.side-follow {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 1rem;
    justify-content: flex-start;
}

.side-follow a {
    padding: .2em 1em .5em 0;
    letter-spacing: 0;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1;
    color: inherit;
    cursor: pointer;
    font-size: var(--menu-font-size);
}

.side-follow a::before {
    content: var(--side-follow-content);
    margin-right: var(--text-margin-right);
    color: var(--icon-color);
}