.mask {
    position:fixed;
    z-index:999;
    border:calc(.8rem/ 2) solid #f60c3e;
    background: #f60c3e;
    pointer-events:none;
    border: 0;
}
.mb, .mt {
    height:0;
    width:100%;
    left:0;
}
.mb {
    bottom:0;
    height: .8rem;
}
.mt {
    top:0;
    height: .8rem;
}
.mv {
    bottom:0;
    height:80vh;
    width:0;
}
.ml, .ml2 {
    left:0;
    width: .8rem;
}
.mr, .mr2 {
    right:0;
    width: .8rem;
}
.ml2, .mr2 {
    bottom:none;
    top:0;
}