.logo {
    font-size: 120px;
    height: 145px;
}

.logo img {
    transition: all 0.5s cubic-bezier(.4,0,.2,1);;
}

.logo img:hover {
    transform: scale(1.15);
    transition: all 0.5s cubic-bezier(.4,0,.2,1);;
}

.intro {
    line-height: 1.5;
    font-size: 1.05rem;
    font-weight: 800;
    text-align: center;
    margin: 0 auto 2rem;
    width: 200px;
}

.menu {
    line-height: 30px;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
}

.menu ul li.menu-switcher {
    display: table;
}

.menu-option {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    letter-spacing: .05em;
    padding: 1.2em 0 0 0;
    border-bottom: #bbb dashed 1px;
    font-weight: 400;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.menu-option:hover {
    color: #f60c3e;
    transition: color 0.2s;
}

.menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: -.08em;
}

.menu-text {
    padding: 0 .5em 0 .4em;
    height: 26px;
    line-height: 1.2rem;
    letter-spacing: .05em;
    font-weight: 600;
    font-size: 15px;
}

.menu-label {
    text-align: left;
    margin-top: 20px;
    color: #f60c3e;
    font-weight: 700;
    font-size: .75rem;
}