:root {
    --primary-color: #f60c3e;
    --extra-color: #ffffff;
    --border-color: #eeeeee;
    --text-color: #333333;
    --icon-color: #989898;
    --sub-text-color: #999999;

    --max: 100%;
    --zero: 0;

    --mask-width: .8rem;
    --border-size: 1px;
    --text-margin-right: .2em;
    --default-padding: 20px;
    --footer-line-height: 1.65;
    --menu-font-size: .75rem;

    --side-follow-content: "▪︎";

    --default-font-family: 'Myriad Pro', 'PingFang SC', 'Microsoft YaHei', Arial, sans-serif;
}